.login-background {
    height: 100%;
    background-color: #3ab1f4;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(#3AB1F4, white);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-screen {
    min-height: 95vh;
}

.login-form h1,
.button,
.error {
    text-align: center;
}

.login-form:not(.button) {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 700;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    /* padding-left: 50px;
    padding-right: 50px; */
    background-color: white;
    border-radius: 1rem;
    box-shadow: 10px 7px 10px 8px lightslategrey;
}

input::placeholder {
    font-family: 'Sulphur Point', sans-serif;
    opacity: 50%;
}

.login-form label:not(.button),
.login-form input:not(.button) {
    margin-left: 150px;
    width: 400px;
}

.login-form input {
    border: none;
    border-bottom: 2px solid black;
    padding-top: 1em;
}

.login-form input:focus {
    outline: none;
}

.input-icons {
    padding-bottom: 2em;
}

.icon {
    padding: 10px;
    text-align: center;
}

.button .btn {
    display: block;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 700;
    font-size: larger;
    width: 250px;
    height: auto;
    border: none;
    padding: 0;
    border-radius: 1.5rem;
    color: white;
    background-image: linear-gradient(55deg, #44BBFF, #CDEBFB);
    transition: background-image 0.5s ease-in-out;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button .btn:hover {
    background-image: linear-gradient(55deg, #44BBFF, #5bb4e4);
    transition: background-image 1s linear;
}

.error {
    font-size: smaller;
    padding: 1rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    color: #9d731f;
    background-color: #fff3cd;
    border-radius: 10px;
    max-width: 300px
}


/* Doctor View */

.curved-background {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Background color */
    background: linear-gradient(#3AB1F4, white);
    /* border-radius: 0 0 150% 10%; */
    /* Size */
    background-repeat: no-repeat;
}

.flex-container-doctor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.flex-container-doctor-child {
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
}

.flex-container-doctor-child h1 {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

#doc-ava {
    width: 7%;
}

.flex-docItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    margin-top: 4em;
    padding: 0px;
}

.doc-items {
    text-align: center;
    width: 33.3%;
    font-family: 'Sulphur Point', sans-serif;
}

.second-row {
    padding-top: 100px;
}

.doc-items button {
    border: none;
    background-color: transparent;
    color: #3AB1F4;
}

.doc-items a {
    color: #3AB1F4;
    text-decoration: none;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    position: relative;
    overflow: hidden;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.doc-icons {
    max-width: 25%;
    height: auto;
    filter: invert(75%) sepia(48%) saturate(5943%) hue-rotate(176deg) brightness(103%) contrast(91%);
}

#user-ava {
    max-width: 10%;
    height: auto;
}

.patient-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: none;
    margin-left: 1em;
    padding-left: 1em;
}

#doc-headline {
    margin-top: 4em;
    margin-bottom: none;
    margin-left: 5em;
    color: #3AB1F4;
    font-family: 'Sulphur Point', sans-serif;
}

.patient-box {
    border: solid 1px #3AB1F4;
    display: flex;
    max-width: 80%;
    margin: 2em;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 1px #B0D9F0;
}

.patient-items {
    justify-content: center;
    align-items: center;
}

.ava-box {
    width: 25%;
    text-align: center;
    margin-top: 3em;
}

.patient-items img {
    max-width: 30%;
}

.patient-items h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin: none;
    padding: none;
}

.schedule-text {
    font-family: Sulphur Point;
    font-size: 40px;
    font-weight: bold;
}


/* Payroll View */

table {
    width: 100%;
    table-layout: fixed;
}

table,
th,
td {
    border: 1.5px solid;
}

th {
    text-align: center;
}

td {
    text-align: right;
}